body{
    background-color: #000000;
    background-repeat: no-repeat, repeat;
    font-family:'Montserrat', sans-serif;
    font-weight:300;
    color: antiquewhite;
    text-align: center;}

 
#title{
    right: 300px;
    color: antiquewhite;
    font-size: 100px;
    font-weight: bold;
    z-index: 9;
    padding-top: 150px;
    padding-bottom: 150px;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: antiquewhite;
    text-align: center;
    padding-top: 50px;

}
.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}



ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(51, 51, 51, 0);
}

li {
    float: left;
}
li a{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
 
  /* Change the link color to #111 (black) on hover */
li a:hover{
    background-color: white;
}

nav {    
    text-align: center;
    background-color: antiquewhite;
    opacity: 80%;
    border-radius: 25px;
    padding: 10px;
    width: 450px;
    height: 50px;
    display: inline-block;
}


  
ul.nav {
    display: inline-block;
    list-style-type: none;
}

img {
    padding-top: 200px;
    max-width: 50%;
    max-height: 50%;
}

.container {
    image {
      width: 250px;
      float: left;
    }
    &__text {
      display: inline;
    }
}

.bItem {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
    background-image: url(../images/cr7.jpg);
    z-index: -10;
  }
 
.bItem:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, transparent 10%, black 100%);
  }
